

.button-container {
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 80vh;
    margin-bottom: 5px;
}

.primary{
    background-color: #0041A3;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100vh;
    cursor: pointer;
}

.secondary{
    background-color: transparent;
    color: #CA4949;
    border: none;
    width: 100vh;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}